# dont know if these xmls are useful so im just throwing them here
# if they somehow are then create a pull request asking me to bring them back
nubank/res/graphik.xml
nubank/res/instabug_custom_font.xml
nubank/res/null_.xml
